In [1]:
import json

y = json.loads('json-mock-data/tasks.json')

JSONDecodeError: Expecting value: line 1 column 1 (char 0)

In [ ]:
json_file_path = "json-mock-data/tasks.json"

with open(json_file_path, 'r') as j:
     contents = json.loads(j.read())

In [ ]:
variationsMatrix = [
        [7, 7.1, 7.2, 7.3, 7.4, 7.5, 7.6, 7.7, 7.8, 7.9],
        [2.71, 2.72, 2.73, 2.74, 2.75, 2.76, 2.77, 2.78, 2.79, 2.7],
        [-5.2, -5.3, -5.4, -5.5, -5.6, -5.7, -5.8, -5.9, -5, -5.1],
    ]
import json
# save to json
with open('json-mock-data/varmat.json', 'w') as f:
    json.dump(variationsMatrix, f)

In [ ]:
# Import the pandas library
import pandas as pd

# Create the first dataframe
df1 = pd.DataFrame({'matrikel': [10, 11, 9, 12], 'vorname': ['Alexa', 'Hannah', 'Mathusan', 'Mathusan'], 'nachname': ['Smith', 'Jones Happy', 'Emmanuel', 'Ranjid']})

# Create the second dataframe
df2 = pd.DataFrame({'vorname': ['Alexa Ruth', 'Hannah', 'Mathusan', 'Mathusan'], 'nachname': ['Smith', 'Jones', 'Emmanuel', 'Ranjid']})

In [ ]:
df1, df2

(   matrikel   vorname     nachname
 0        10     Alexa        Smith
 1        11    Hannah  Jones Happy
 2         9  Mathusan     Emmanuel
 3        12  Mathusan       Ranjid,
       vorname  nachname
 0  Alexa Ruth     Smith
 1      Hannah     Jones
 2    Mathusan  Emmanuel
 3    Mathusan    Ranjid)

In [ ]:
# merge if vorname is substring of other vorname
df3 = df1.merge(df2, how='inner', left_on='vorname', right_on='vorname')
# use the longer name from the new columns
df3['nachname'] = df3.apply(lambda x: x['nachname_y'] if len(x['nachname_x']) < len(x['nachname_y']) else x['nachname_x'], axis=1)
# drop the old columns
df3 = df3.drop(['nachname_x', 'nachname_y'], axis=1)
df3

   matrikel   vorname     nachname
0        11    Hannah  Jones Happy
1         9  Mathusan     Emmanuel
2         9  Mathusan     Emmanuel
3        12  Mathusan     Emmanuel
4        12  Mathusan       Ranjid

In [ ]:
# merge if vorname is substring of other vorname
df4 = df1.merge(df2, how='inner', left_on='nachname', right_on='nachname')
df4['vorname'] = df4.apply(lambda x: x['vorname_y'] if len(x['vorname_x']) < len(x['vorname_y']) else x['vorname_x'], axis=1)
# drop the old columns
df4 = df4.drop(['vorname_x', 'vorname_y'], axis=1)
df4

   matrikel  nachname     vorname
0        10     Smith  Alexa Ruth
1         9  Emmanuel    Mathusan
2        12    Ranjid    Mathusan

In [19]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
import pandas as pd

fuzz.token_set_ratio("Luca Andre Barillas Völker", "Luca Barillas")
# Create the first dataframe
df1 = pd.DataFrame({'matrikel': [10, 11, 9, 12], 'first_name': ['Alexa', 'Hannah', 'Mathusan', 'Mathusan', 'Dimitri'], 'last_name': ['Smith', 'Jones Happy', 'Emmanuel', 'Ranjid', 'Haas']})

# Create the second dataframe
df2 = pd.DataFrame({'first_name': ['Alexa Ruth', 'Hannah Sophie', 'Mathusan', 'Mathusan'], 'last_name': ['Smith', 'Jones', 'Emmanuel', 'Ranjid']})

# define empty dataframe with same columns as df1
df3 = pd.DataFrame(columns=df1.columns)
# iterate over the rows of the dataframe
for index, row in df1.iterrows():
    # extractone to find the closest match for first name and last name
    first_name = process.extractOne(row['first_name'], df2['first_name'], scorer=fuzz.token_set_ratio, score_cutoff=80)[0]
    last_name = process.extractOne(row['last_name'], df2['last_name'], scorer=fuzz.token_set_ratio, score_cutoff=80)[0]
    if first_name is not None and last_name is not None:
        # if both first name and last name are not none, create a new row in df3 with the values from df1 and the closest matches from df2
        #df3 = df3.append({'matrikel': row['matrikel'], 'first_name': first_name, 'last_name': last_name}, ignore_index=True)
        # not using append
        df3.loc[len(df3)] = [row['matrikel'], first_name, last_name]
df3

   matrikel     first_name last_name
0        10     Alexa Ruth     Smith
1        11  Hannah Sophie     Jones
2         9       Mathusan  Emmanuel
3        12       Mathusan    Ranjid

In [ ]:
hallo

0           Alexa Smith
1    Hannah Jones Happy
2     Mathusan Emmanuel
3       Mathusan Ranjid
dtype: object

In [ ]:
df1[['first_name', 'last_name']]

  first_name    last_name
0      Alexa        Smith
1     Hannah  Jones Happy
2   Mathusan     Emmanuel
3   Mathusan       Ranjid